<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.github.edufolly.flutterbluetoothserial">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

<!--  From SimpleBluetoothLeTerminal  -->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->
<!--    &lt;!&ndash; <= 30 + Xiaomi/MIUI &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="32"/>-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>-->
<!--    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="30"/>-->
    <!-- >= API 31 -->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" tools:targetApi="s" />-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>-->

</manifest>
